
<iframe width="468" height="60" align="right">
    Ваш браузер не поддерживает плавающие фреймы!
</iframe>


<form method="post" action="/input">
  
    <textarea name="fixes">  </textarea> 
      <input type="submit" >
   
</form>

<form method="post" enctype="multipart/form-data" action="/load">
      
      <input type="file" name="loadfile">
      <input type="submit">
</form>

