<% if message %> 
<p> <%= message %> </p>
<% else %>

<iframe src="/views/googlmaps" width="600" height="600" align="right">
    Ваш браузер не поддерживает плавающие фреймы!
</iframe>

<% end %>
       





<form method="post" action="/input">
  
    <textarea name="fixes">  </textarea> 
      <input type="submit" >
   
</form>


<form method="get" action="/">
 <p> Выберите дату (формат: год-месяц-число):</p>
 <p>
  <input type="date" name="calendar" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
  <input type="submit" value="Отправить">
 </p>
</form>

